
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}


body {
  display: flex;
  justify-content: center;
  background-color: #33FFBD;
  /* width: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5; */
}

  .wiggly-piggly-header {
    margin-top: 40px;
    margin-bottom: 30px;
  }

.all-products-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 800px;
  /* margin: 0 auto; */
  font-family: monospace, monospace;
  margin-bottom: 20px;
  
  
}

.updated-products-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 800px;
  margin: auto;
  justify-content: center;
  font-family: monospace, monospace;

  /* width: 1100px;
  max-width: 100px;
  margin: 0 auto; */
  
}

Card.Body {
  display: flex;
  align-items: center;
}

/* .all-products-cards {
  display: flex; 
  align-items: center;
  justify-content: space-between;
} */

.drop-down-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.inventory-btns {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.button-as-link {
  text-align: center;
  justify-content: center;
}


